APScheduler==3.2.0
Flask==0.11.1
future==0.16.0
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
psycopg2==2.7.3.1
py-postgresql==1.1.0
pyaes==1.6.1
pyTelegramBotAPI==3.2.1
pytz==2017.2
requests==2.13.0
six==1.11.0
tzlocal==1.2.2
urllib3==1.22
virtualenv==15.1.0
waitress==1.0.1
Werkzeug==0.11.11
